

<h1>User Info</h1><hr>

<h1>User</h1>
{{!-- <button type="button" name="edit" onclick="window.location='users/new';" class="btn btn-primary btn-lg btn-block">NEW USER</button>
{{#each registeredusers}}
<div>
    <h1>Name: {{this.name}}</h1> 
    <h1>Email: {{this.email}}</h1>
    <h2>Id:{{this._id}}</h2>

<button type="button"  name="delete" class="btn btn-danger btn-xlg btn-block" onclick="window.location='users/{{this._id}}/delete';"> Delete Users</button>
<button type="button" name="update" class="btn btn-primary btn-xlg btn-block" onclick="window.location='users/{{this._id}}/edit';">Edit User</button>
{{/each}}  

</div>  --}}

<form action="/recipes"><input class="waves-effect waves-light btn" type="submit" value="Recipes"><br></form>
<button type="button" name="edit" onclick="window.location='users/new';" class="btn btn-primary btn-lg btn-block">NEW USER</button>
<div class="row"></div>
{{#each registeredusers}}
   
        <div class="col s12 m7">
            
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
     <div class="card-content"  >
      <span class="card-title activator grey-text text-darken-4">{{this.name}}<i class="material-icons right">Email:{{this.email}}</i></span>
      <p><a  href="users/{{this._id}}/edit">Edit</a></p><p><a  href="users/{{this._id}}/delete">Delete</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{this.name}}<i class="material-icons right">{{this.email}}</i></span>
 

</div> 
 {{/each}}
  </div>




     