

<h1>User Info</h1><hr>

<h1>User</h1>
<button type="button" name="edit" onclick="window.location='users/new';" class="btn btn-primary btn-lg btn-block">NEW USER</button>
{{#each registeredusers}}
<div>
    <h1>Name: {{this.name}}</h1> 
    <h1>Email: {{this.email}}</h1>
    <h2>Id:{{this._id}}</h2>

<button type="button"  name="delete" class="btn btn-danger btn-xlg btn-block" onclick="window.location='users/{{this._id}}/delete';" >Delete Users</button>
<button type="button" name="update" class="btn btn-primary btn-xlg btn-block" onclick="window.location='users/{{this._id}}/edit';">Edit User</button>
{{/each}}  


 


</div> 