<h1>Recipe's</h1><hr>
<div><button  name="edit" onclick="window.location='recipes/new';" class="btn waves-effect waves-red">New Recipe</button>

</div>
<h1>Most Popular</h1><hr><br>


<div>
<div class="container">

 <div class="row"> 
     
  <div class="col-sm-6 col-md-4">
      {{#each recipe}}
    <div class="thumbnail">
       
      <img src="{{this.image}}" alt="...">
      <div class="">
        <h3>Name:{{this.name}}</h3>
        <p>
           <h1>Description:{{this.description}}</h1><br>

            <h2>Directions:{{this.directions}}</h2><br>
           <h2>Time:{{this.time}}</h2> <br>
           <h2>Ingredients: </h2>
           <ul>
           <div>  {{#each this.ingredients}} 
                <li>{{this.name}}</li>
                <li>{{this.description}}</li>
                <li>{{this.preptime}}</li>
              {{/each}}
              </ul>
              </div>
        </p>
        <p><a href="recipes/{{this._id}}/edit" class="btn btn-primary" role="button">Edit</a> <a href="recipes/{{this._id}}/delete" class="btn btn-danger" role="button">Delete</a></p>
      </div>
    </div>
  </div>
</div>
</div>


{{/each}}




{{!-- 

{{#each recipe   }}
<div><br>

    Name: {{this.name}},<hr>
    description: {{this.description}},<br>
    directions: {{this.directions}},<br>
    time: {{this.time}}<br>
    
    image:{{this.image}},
</div> 

<div>
</div><hr><br>
<button type="button"  name="delete" class="btn btn-danger btn-xlg btn-block" onclick="window.location='recipes/{{this._id}}/delete';"> Delete Recipe</button>
<button type="button" name="update" class="btn btn-primary btn-xlg btn-block" onclick="window.location='recipes/{{this._id}}/edit';">Edit Recipe</button>
 {{/each}}  
 --}}
