<h1>Recipe's</h1><hr>

<h1>Most Popular</h1>
{{#each recipe  }}
<div>
    Name: {{this.name}},<hr><br>
    description: {{this.description}},<br>
    directions: {{this.directions}},<br>
    time: {{this.time}}<br>
    recipe: {{this.ingredients}}
</div> 

<div>
<button type="button" name="edit" href="recipes/edit" class="btn btn-danger btn-lg btn-block">Edit</button>
<button type="button" name="update" href="recipes/edit" class="btn btn-danger btn-lg btn-block">Update</button>
<button type="button" name="delete" href="recipes/edit" class="btn btn-danger btn-lg btn-block">Delete</button>
</div><hr><br>
 {{/each}}  

